@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
}
.header-img{
    width: 130px;
}
.header-menu{
    display: flex;
    gap: 50px;
}
.header-menu-item{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 20px;
}
.main{
    border-top: 0.4px solid rgb(0, 0, 0);
    margin-bottom: 50px;
}
.main-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
}
.main-content-written{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.main-content-written-title{
    font-family: 'Alfa Slab One', cursive;
    font-weight: 400;
    font-size: 64px;
    color: rgb(0, 0, 0);
}
.main-content-written-description{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: rgb(0, 0, 0);
}
.main-content-written-a{
    text-align: center;
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
    width: 190px;
    padding: 25px;
    border-radius: 15px;
    font-family: 'Alfa Slab One', cursive;
    font-weight: 400;
    font-size: 24px;
    color: rgb(0, 0, 0);
}
.main-content-img{
    width: 350px;
    margin-top: 40px;
}
.secondary-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}
.secondary-content-text{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-indent: 30px;
}
.footer{
    position: relative;
}
.footer-img{
    width: 100%;
}
   
@media only screen and (max-width: 800px) {
    .main-content{
        flex-direction: column;
    }
    .main-content-written-title{
        font-size: 40px;
    }
    .main-content-written-description{
        font-size: 16px;
    }
    .main-content-written-a{
        font-size: 20px;
    } 
    .secondary-content-text{
        font-size: 16px;
    }
}

@media only screen and (max-width: 470px) {
    .header{
        padding: 15PX;
    }
    .header-menu{
        margin-left: 20px;
        gap: 10px;
    }
    .header-img{
        width: 90px;
        margin-right: 20PX;
    }
    .main{
        margin-bottom: 30px;
    }
    .main-content-written-title{
        font-size: 50px;
    }
    .secondary-content{
        margin-left: 5px;
        margin-right: 5px;
    }
    .main-content-written-a{
        width: 170px;
        padding: 15px;
        border-radius: 15px;
    }
}

@media only screen and (max-width: 360px) {
    .main-content-written-title{
        font-size: 30px;
    }
    .main-content-img{
        width: 280px;
    }
}